<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{'Contactus'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="addcomment">
    <h4>{{'stayintouch'|translate}}</h4>
    <div class="forma">
      <div class="inputs">
        <h1>{{'Yourname'|translate}}</h1>
        <input type="text"[(ngModel)]="namee">

      </div>
      <div class="inputs">
        <h1>{{'Phonenumber'|translate}}</h1>
        <input type="text"[(ngModel)]="phonee">
      </div>

      <div class="inputs">
        <h1>{{'email'|translate}}</h1>
        <input type="email"[(ngModel)]="email">
      </div>
      <div class="inputs">
        <h1>{{'message'|translate}}</h1>
        <textarea name="comment" [(ngModel)]="message" ></textarea>
      </div>

      <div class="submit">
        <a href="mailto:info@eissaqhalkmp.com" >{{'Send'|translate}}</a>
      </div>
    </div>
  </div>
</ion-content>
