<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

<ion-navbar>
  <ion-title>{{'Myaccount'|translate}}}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="logo">
    <img src="assets/imgs/aboutus.png" alt="">
  </div>
  <div class="login">
    <ion-list>
      <ion-item *ngIf='role !== ""'>
        <ion-label >{{'Accounttype'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="role" disabled></ion-input>
      </ion-item>
      <ion-item *ngIf='roles !== null'>
          <ion-label >{{'Accounttype'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="roles" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Username'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="username" disabled></ion-input>
      </ion-item>
      <ion-item>

          <ion-label>{{'email'|translate}}</ion-label>
          <ion-input type="email" [(ngModel)]="email" disabled></ion-input>
      </ion-item>
      <ion-item>

          <ion-label>{{'Firstname'|translate}}</ion-label>
           <ion-input type="text" [(ngModel)]="fname" disabled></ion-input>
      </ion-item>
      <ion-item>

          <ion-label>{{'Lastname'|translate}} </ion-label>
          <ion-input type="text" [(ngModel)]="lname" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Desc'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="desc" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Gender'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="gender" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Country'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="country" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Phonenumber'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="phonenumber" disabled></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Interested'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="interests" disabled></ion-input>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
