page-myaccount {
    ion-content{
      background: #f8f8f8;
      .logo{
        height: 40%;
        img{
          width: 50%;
          margin: 0 auto;
          display: block;
          padding-top: 10%;
        }
      }
      .login{
        h2{
          color: #069e92;
          text-align: center;
          font-size: 20px;
          font-family: 'Cairo';
          font-weight: bold;
        }
        ion-input{
          color: #000;
          font-family: Cairo;
        }
        ion-label{
          font-size: 15px;
          font-family: 'Cairo';
          padding: 0;
          margin: 0;
          font-weight: bold;
        }

        .item-md.item-input.item-input-has-focus .item-inner,
        .item-md.item-input.input-has-focus .item-inner {
          border-bottom-color: #069e92;
          -webkit-box-shadow: inset 0 -1px 0 0 #069e92;
          box-shadow: inset 0 -1px 0 0 #069e92;
        }
        .list-md .item-input.item-input-has-focus:last-child,
        .list-md .item-input.input-has-focus:last-child {
          border-bottom-color: #069e92;
          -webkit-box-shadow: inset 0 -1px 0 0 #069e92;
          box-shadow: inset 0 -1px 0 0 #069e92;
        }
        .register{
          width: 60%;
          display: block;
          margin: 0 auto;
          border-radius: 25px;
          height: 40px;
          font-family: 'Cairo';
          background: #079e92;
          margin-top: 30px;

        }
      }
    }
  .text-input[disabled] {
    opacity: 1;
  }
  }
