page-knowldgebaseall {
  .block {
    background: #eaeaea;
    height: 40px;
    margin-bottom: 40px;
    position: relative;
     h2 {
       font-size: 13px;
       font-family: 'Cairo';
       padding-right: 25%;
       line-height: 15px;
       padding-top: 10px;
    }
    img {
      position: absolute;
      width: 60px;
      top: -15px;
      right: 10px;
    }
  }
  .enlang {
    .block h2{
      padding-right: 0;
      padding-left: 5%;

    }
  }
}
