<!--
  Generated template for the KnowldgebaseallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{ catname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="data">
    <div class="block" *ngFor="let catname of catdata">
      <div class="clikcker" (click)="gosingle(catname.id)">
      <img src="assets/imgs/catsicon.png" alt="">
      <h2>{{ catname.title.rendered | slice:0:40 }}</h2>
      </div>
    </div>
  </div>
</ion-content>
         
