<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
<div class="logo">
    <img src="assets/imgs/aboutus.png" alt="">
  </div>
  <div class="login">
    <h2>{{'Login'|translate}}</h2>
    <ion-list>

      <ion-item>
        <ion-label>{{'Username'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >{{'password'|translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button (click)="login()">{{'Login'|translate}}</button>
  </div>

</ion-content>
