page-topics {
    .tablehead{
      background: #069e92;
      height: 40px;
      line-height: 40px;
      padding: 5px 15px;
      border-radius: 5px;
      .right{
        width: 65%;
        float:right;
        h2{
          font-size: 15px;
          color: #fff;
          margin: 0;
          font-family: 'Cairo';
          font-weight: bold;
          text-align: right;
          position: relative;
          top: 6px;
        }
      }
      .left{
        width: 35%;
        float:right;
        h2{
          font-size: 15px;
          color: #fff;
          margin: 0;
          font-family: 'Cairo';
          font-weight: bold;
          text-align: left;
          position: relative;
          top: 6px;
        }
      }
    }


    .tablecontent{
      .rebater{
        background: #fff;
        height: 50px;
        line-height: 40px;
        padding: 12px 0;
        border-bottom: 1px solid #c7c7c7;
        .right{
          width: 65%;
          float:right;
          h2{
            font-size: 15px;
            color: #000;
            margin: 0;
            font-family: 'Cairo';
            text-align: right;
            position: relative;
            top: 6px;
          }
        }
        .left{
          width: 35%;
          float:right;
          h2{
            font-size: 15px;
            color: #000;
            margin: 0;
            font-family: 'Cairo';
            text-align: left;
            position: relative;
            top: 6px;
          }
        }
      }
    }
  .addcomment{
    display: inline-block;
    width: 100%;
    margin-top: 35px;
    h5 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      color: #069e92;
      font-size: 15px;
    }
    h4 {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 13px;
      margin:0;
    }
    .inputs{
      margin-top: 20px;
      h1{
        font-family: 'Cairo';
        text-align: right;
        color: #444;
        font-size: 13px;
        margin:0;
        margin-bottom:5px;
      }
      input{
        width:100%;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
        height: 40px;
      }
      textarea{
        width:100%;
        height: 100px;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
      }
    }
    button{
      background: #069e92;
      float: left;
      margin-top: 15px;
      padding: 10px 15px;
      border-radius: 20px;
      color: #fff;
      font-family: 'Cairo';
    }

  }

  .enlang{
    .tablehead .right {
      width: 65%;
      float: left;
    }
    .tablecontent .rebater .right {
      width: 65%;
      float: left;
    }
    .tablecontent .rebater .right h2 {
      text-align: left;
    }
    .tablecontent .rebater .left h2 {
      text-align: right;
    }
    .tablehead .left h2 {
      font-size: 15px;
      color: #fff;
      margin: 0;
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      position: relative;
      top: 6px;
    }
    .tablehead .right h2 {
      font-size: 15px;
      color: #fff;
      margin: 0;
      font-family: 'Cairo';
      font-weight: bold;
      text-align: left;
      position: relative;
      top: 6px;
    }
    .addcomment h5 {
      text-align: left;
    }
    .addcomment .inputs input {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  }
