<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{ mytitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="table">
    <div class="tablehead">
      <div class="right">
        <h2>{{'Subject'|translate}}</h2>
      </div>
      <div class="left">
        <h2>{{'Lastupdate'|translate}}</h2>
      </div>
    </div>
    <div class="tablecontent">
      <div class="rebater" *ngFor="let forum of forumss" (click)="gotopics(forum.ID)" >
        <div class="right">
          <h2>{{ forum.post_title }}</h2>
        </div>
        <div class="left">
          <h2>{{ forum.post_modified | date }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="addcomment" [hidden]="usercookie == null || usercookie == undefined">
    <h5>{{'Newtopic'|translate}}</h5>
    <div class="forma">
      <div class="inputs">
        <h1>{{'address'|translate}}</h1>
        <input type="text"[(ngModel)]="title">
      </div>

      <div class="inputs">
        <h1 >{{'Content'|translate}}</h1>
        <textarea name="content" [(ngModel)]="content" ></textarea>
      </div>

      <div class="submit">
        <button type="submit" (click)="addcomment()">{{'Publish'|translate}} </button>
      </div>
    </div>
  </div>
</ion-content>