page-accountlog {
  .mylogo {
    background: #079e92;
    height: 50%;
    img{
      width: 70%;
      margin: 0 auto;
      display: block;
      padding-top: 10%;
    }
  }
  .buttons {
    height: 50%;
    padding-top: 20%;
    button{
      width: 60%;
      display: block;
      margin: 0 auto;
      border-radius: 25px;
      height: 40px;
      font-family: 'Cairo';
      background: #079e92;
      margin-bottom: 10px;
    }
  }
}
