<!--
  Generated template for the AccountlogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
<div class="mylogo">
  <img src="assets/imgs/aboutus.png" alt="">
</div>
  <div class="buttons">
    <button ion-button (click)="login()" > {{'Login'|translate}} </button>
    <button ion-button (click)="register()" > {{'Register'|translate}} </button>
  </div>
</ion-content>
