<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="logo">
    <img src="assets/imgs/aboutus.png" alt="">
  </div>
  <div class="login">
    <h2>{{'Register'|translate}}</h2>
    <ion-list>

      <ion-item>

        <ion-label>{{'Accounttype'|translate}}</ion-label>
        <ion-select [(ngModel)]="role">
          <ion-option value="Expert">Expert</ion-option>
          <ion-option value="Leader">Leader</ion-option>
          <ion-option value="Researcher">Researcher</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>

        <ion-label>{{'Username'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'email'|translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Firstname'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Lastname'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="lname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Desc'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="desc"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'password'|translate}}</ion-label>
       <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{'Confirmpassword'|translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="rpassword"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button  class="register" (click)="register()">{{'Register'|translate}}</button>
  </div>

</ion-content>