<ion-tabs selectedIndex="1" [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <ion-tab [root]="tab1Root" [tabTitle]="('Myaccount' | translate) || '&nbsp;'" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="('default' | translate) || '&nbsp;'" tabIcon="home"></ion-tab>
  <ion-tab (ionSelect)="openSideMenu()" [tabTitle]="('More' | translate) || '&nbsp;'" tabIcon="more"></ion-tab>
</ion-tabs>
