<!--
  Generated template for the AdvancedsearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{'Advancedsearch'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="search">

    <input type="text" placeholder="{{'Searchnow'|translate}}" [(ngModel)]="search" >



    <div class="block" >
      <h2>{{'Sections'|translate}}</h2>
      <ion-list radio-group [(ngModel)]="relationship">
        <ion-item>
          <ion-label>{{'Knowldgebase'|translate}}</ion-label>
          <ion-radio value="userpress_wiki"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label >{{'Pages'|translate}}</ion-label>
          <ion-radio value="page"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{'Partners'|translate}}</ion-label>
          <ion-radio value="partner"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{'Forums'|translate}}</ion-label>
          <ion-radio value="forum"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

    <div class="block">
      <h2 >{{'Knowldgearea'|translate}}</h2>
      <ion-list radio-group [(ngModel)]="relationship1">
        <ion-item *ngFor="let cat of cattitle;">
          <ion-label>{{ cat.name }}</ion-label>
          <ion-radio value="{{cat.id}}"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <button class="searchc"  ion-button
(click)="searchdata(search,relationship,relationship1)">{{'Search'|translate}}
    </button>
  </div>
</ion-content>
