page-advancedsearch {
.search{
  input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-right: 15px;
    font-family: 'Cairo';
  }
  h2{
    width: 100%;
    background: #069e92;
    color: #fff;
    font-size: 15px;
    font-family: 'Cairo';
    padding: 10px;
  }
}
  .item-md.item-block .item-inner {
    padding-right: 8px;
    padding: 0;
    border: none;
    text-align: right;
    font-family: 'Cairo';

  }
  ion-item.item.item-block.item-md.item-checkbox {
    direction: ltr;
    margin: 0;
    padding: 0;
  }
  .searchc {
    background: #069e92;
    width: 50%;
    margin: 0 auto;
    display: table;
    border-radius: 50px;
    font-family: 'Cairo';
    font-size: 15px;
  }
}
