<!--
  Generated template for the GroubsinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{ groubname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="imagee">
    <img src="{{ groubavater }}" alt="">
  </div>
  <div class="data">
    <ion-grid *ngFor="let gro of grous" [hidden]="gro.item_id !== gid">
      <ion-row>

        <ion-col col-12>
          <div class="block">
            <h2>{{ gro.user.username }}</h2>
            <h4>{{ gro.time }}</h4>
            <p [innerHTML]="gro.action">{{ gro.action }}</p>
            <p [innerHTML]="gro.content">{{ gro.content }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
