page-groubsingle {
  .imagee {
    img{
    width: 100%;
    height: 120px;
    }
  }
  .data {
    .aimg{
      img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      }
    }
    .block{
      background: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
      h2{
        float: right;
        color: #069e92;
        font-family: 'Cairo';
        font-size: 15px;
        font-weight: bold;
      }
      h4{
        text-align: left;
        color: #444;
        font-size: 10px;
        display: table;
        float: left;
        margin: 0px;
        margin-top: 3px;
      }
      p{
        color: #444;
        font-size: 13px;
        display: block;
        text-align: left;

        clear: both;
        a{
          color: #444;
          text-decoration: none;
        }
        img{
          width: 100%;
          height: 120px;
        }
      }
    }
  }
}
