<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <ion-navbar>
      <ion-title>{{'Articles'|translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <div class="block" *ngFor="let post of posts" (click)="gopost(post.id)">
        <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
        <h2>{{ post.title.rendered }}</h2>
        <p [innerHTML]="post.excerpt.rendered">{{ post.content.rendered }}</p>
    </div>
</ion-content>

