page-members {
  .memsearch{
    width: 100%;
    margin: 0 auto;
    clear: both;
    margin-bottom: 20px;
    background: #069e92;
    font-family: 'Cairo';
  }
.coller{
  width: 33.3%;
  float:right;
  padding: 10px;
  min-height: 140px;
  img {
    width: 100%;
    height: 85px;
  }
  h2{
    color: #069e92;
    margin: 0;
    font-size: 11px;
    text-align: center;
    font-family: 'Cairo';
    font-weight: bold;
  }
}
}
