<!--
  Generated template for the TopicspostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{ topicname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <h2 >{{'Postscount'|translate}}{{ pcount }} </h2>
  <div class="myreapeter" *ngFor="let post of dataa">
    <div class="myimg">
      <img src="assets/imgs/mem.png" alt="">
    </div>
    <div class="mydata">
      <div class="mytitle">
      <h3>{{ forumname }}</h3>
      <h4>{{ post.post_time | date }}</h4>
      </div>
      <p [innerHTML]="post.post_text">{{ post.post_text }}</p>
    </div>
  </div>

  <div class="addcomment" [hidden]="usercookie == null || usercookie == undefined">
    <h5 ></h5>
    <h4 >{{'published'|translate}}</h4>
    <div class="forma">
      <div class="inputs">
          <h1>{{'Content'|translate}}</h1>
        <textarea name="comment" [(ngModel)]="comment" ></textarea>
      </div>

      <div class="inputs">
        <h1>{{'email'|translate}}</h1>
        <input type="email"[(ngModel)]="email" email>
      </div>
      <div class="submit">
        <button type="submit" (click)="addcomment()">{{'Submit'|translate}} </button>
      </div>
    </div>
  </div>
</ion-content>
