page-topicsposts {
  h2{
    background: #069e92;
    color: #fff;
    font-size: 15px;
    font-family: 'Cairo';
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 25px;
  }
.myreapeter{
  background: #f9f8f8;
  margin-bottom: 10px;
  padding: 10px;
.myimg{
  float: right;
  width: 20%;
  margin-left: 10px;
  img{
    border-radius: 50%;
  }
}
  .mydata{
    width: 75%;
    display: inline-block;
    .mytitle{
      h3{
        margin: 0;
        font-size: 15px;
        color: #069e92;
        font-family: 'Cairo';
      }
      h4{
        margin: 0;
        font-size: 12px;
        color: #c4c4c4;
        margin-top: 8px;
        font-family: 'Cairo';

      }
    }
    p{
      margin: 0;
      font-size: 14px;
      color: #424242;
      margin-top: 8px;
      font-family: 'Cairo';
    }
  }
}

  .addcomment{
    h5 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      color: #069e92;
      font-size: 15px;
    }
    h4 {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 13px;
      margin:0;
    }
    .inputs{
      margin-top: 20px;
      h1{
        font-family: 'Cairo';
        text-align: right;
        color: #444;
        font-size: 13px;
        margin:0;
        margin-bottom:5px;
      }
      input{
        width:100%;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
        height: 40px;
      }
      textarea{
        width:100%;
        height: 100px;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
      }
    }
    button{
      background: #069e92;
      float: left;
      margin-top: 15px;
      padding: 10px 15px;
      border-radius: 20px;
      color: #fff;
      font-family: 'Cairo';
    }
  }
  .enlang{
    .addcomment h5{
      text-align: left;
    }
  }
}
