<!--
  Generated template for the MembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title >{{'Members'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="coller" *ngFor="let mem of members" [hidden]="imagesearch ==='onlyhave' &&  mem.avatar === null || imagesearch ==='nohave' &&  mem.avatar !== null" (click)="member(mem.ID)">
    <div class="block">
      <img src="assets/imgs/mem.png" *ngIf="mem.avatar === ''" alt="">
      <img src="{{ mem.avatar }}" *ngIf="mem.avatar != ''" alt="">
      <h2>{{ mem.user_nicename }}</h2>
    </div>
  </div>


</ion-content>
