page-groubs {
.block{
  border:1px solid #069e92;
  margin-bottom: 25px;
  padding-right: 25px;
  height: 45px;
  position: relative;
  ion-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #069e92;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    right: -15px;
    top: -4px;
  }
  h2{
    font-size: 12px;
    font-family: 'Cairo';
    color: #069e92;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    padding-right: 8px;
  }
  h3{
    font-size: 13px;
    font-family: 'Cairo';
    color: #444;
    margin: 0;
    text-align: left;
    margin-bottom: 5px;
  }
  h4{
    font-size: 9px;
    font-family: 'Cairo';
    color: #444;
    margin: 0;
    text-align: left;
  }
}
  .enlang{
    .block {
      padding-right: 0;
    }
    .block h4 {
      text-align: right;
    }
    .block h3 {
      text-align: right;
    }
  }
}
