<!--
  Generated template for the GroubsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

    <ion-navbar>
      <ion-title>{{'Groubs'|translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <div class="block" *ngFor="let groub of groubs">
        <div class="clicker" (click)="gogroub(groub.id)">
        <ion-icon ios="ios-people" md="md-people"></ion-icon>
        <ion-grid>
            <ion-row>
                <ion-col col-7>
                    <h2>{{ groub.name }}</h2>
                </ion-col>
                <ion-col col-5>
                  <h3>{{ groub.count_member }} {{'Members'|translate}}</h3>
                    <h4>{{ groub.date_created | date }}</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
        </div>
    </div>
</ion-content>

