<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <ion-navbar>
      <ion-title >{{'Homepage' | translate}}</ion-title>
     
    </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{ 'mylang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <div class="video">
      <ion-slides *ngIf="slider && slider.length"  autoplay="2000" loop="true" speed="500" class="slides" pager="true">
        <ion-slide *ngFor="let slides of slider">
          <img [src]="slides.main_slider_image" alt="">
        </ion-slide>
      </ion-slides>

    </div>
    <div class="pages">
        <div class="page1" (click)="knwldge()">
            <img src="{{(translate.currentLang === 'en')?('assets/imgs/knowldgeen.png'):('assets/imgs/knowldge.png')}}">
        </div>
        <div class="page2" (click)="members()">
                <img src="{{(translate.currentLang === 'en')?('assets/imgs/membersen.png'):('assets/imgs/members.png')}}">
            </div>
        <div class="page3" (click)="groubs()">
                <img src="{{(translate.currentLang === 'en')?('assets/imgs/groubsen.png'):('assets/imgs/groubs.png')}}">
            </div>
        <div class="logo">
            <img src="assets/imgs/logo.png">
        </div>
        <div class="page4" (click)="forums()">
                <img src="{{(translate.currentLang === 'en')?('assets/imgs/activityen.png'):('assets/imgs/activity.png')}}">
        </div>
        <div class="page5" (click)="posts()">
                <img src="{{(translate.currentLang === 'en')?('assets/imgs/articlesen.png'):('assets/imgs/articles.png')}}">
        </div>
    </div>
</ion-content>
