page-home {
  .video{
    height: 25%;
    overflow: hidden;
    ion-slides {
      direction: ltr;
    }
    .swiper-pagination-bullet {
      background: #fff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #3dbea0 !important;
    }
  }
  .pages{
    position: relative;
    height: 68%;
    .page1{
      position: absolute;
      top: 10%;
      width: 30%;
      right: 50%;
      margin-right: -15%;
      img{
        width: 100%;
      }
    }
    .page2{
      position: absolute;
      top: 27%;
      width: 35%;
      right: 3%;
      img{
        width: 100%;
      }
    }
    .page3{
      position: absolute;
      top: 28%;
      width: 36%;
      left: 2%;

      img{
        width: 100%;
      }
    }
    .logo{
      padding-top:70%;
      img{
      width: 40%;
        margin:0 auto;
        display: block;
      }
    }
    .page4{
      position: absolute;
      bottom: 20px;
      width: 32%;
      right: -8px;
      img{
        width: 100%;
      }
    }
    .page5{
      position: absolute;
      bottom: 20px;
      width: 32%;
      left: -8px;
      img{
        width: 100%;
      }
    }
  }
.mylang{
  .pages .logo {
    padding-top: 64% !important;
  }
  .pages .logo img {
    width: 30% !important;
  }
  .pages .page1 img {
    width: 90%;
  }
  .pages .page2 img {
    width: 90%;
  }
  .pages .page3 img {
    width: 90%;
  }
  .pages .page5 img {
    width: 90%;
  }
  .pages .page4 img {
    width: 90%;
  }
  .pages .page5 {
    position: absolute;
    bottom: 77px;
    width: 32%;
    left: 9px;
  }
  .pages .page4 {
    position: absolute;
    bottom: 77px;
    width: 32%;
    right: 19px;
  }
  .pages .page3 {
    position: absolute;
    top: 25%;
    width: 36%;
    left: 2%;
  }
  .pages .page2 {
    position: absolute;
    top: 26%;
    width: 35%;
    right: 5%;
  }
}

}

.toolbar-background-md {
  border-color: transparent;
  background: #069e92;
  color: #fff;
  box-shadow: none !important;
}
.toolbar-background-ios {
  border-color: transparent;
  background: #069e92;
  color: #fff;
  box-shadow: none !important;
}
.toolbar-title-ios {
  color: #fff;
  font-family: 'Cairo';
}
.toolbar-title-md {
  color: #fff;
  font-family: 'Cairo';
}
.back-button.show-back-button {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #fff;

  z-index: 999999;
}

ion-footer.footer.footer-md {
  background: #eaeaea;
  border: none;
  box-shadow: none;
  .button{
    background: none;
    border: none;
    box-shadow: none;
    color: #7b7b7b;
    font-family: 'Cairo';
    font-size: 12px;
    text-align: center;
    width: 32%;
    float: right;
    padding: 0;
    ion-icon{
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
    }
    span{
      display: block;
    }
  }
}
ion-footer.footer.footer-ios {
  background: #eaeaea;
  border: none;
  box-shadow: none;
  .button{
    background: none;
    border: none;
    box-shadow: none;
    color: #7b7b7b;
    font-family: 'Cairo';
    font-size: 12px;
    text-align: center;
    width: 32%;
    float: right;
    padding: 0;
    ion-icon{
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
    }
    span{
      display: block;
    }
  }
}
.alert-md .alert-wrapper {
  border-radius: 1px;
  max-width: 280px;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  color: #069e92;
  font-family: 'Cairo';
  text-align: center;
}
.alert-md .alert-button {
  background: #fff;
  color: #069e92;
}
ion-backdrop {
  left: 0;
  opacity: 0.7 !important;
}
.loading-md .loading-wrapper {
  background: none;
  box-shadow: none;
}
ion-spinner {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-md .spinner-crescent circle {
  stroke: #fff;
}
.enlang {
  direction: ltr;
  .scroll-content{
    padding-bottom: 60px !important;
  }
  .back-button.show-back-button {
    display: inline-block;
    position: absolute;
    left: auto;
    color: #fff;
    z-index: 999999;
    right: 0;
    transform: rotate(180deg);
  }
  .item-radio.item-md ion-label {
    margin-left: 0;
    text-align: left;
  }
  .search input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-right: 0;
    font-family: 'Cairo';
    padding-left: 15px;
  }
  .menu li ion-icon {
    margin-left: 0;
    margin-right: 10px;
  }
  .menu li.logout {
    color: #f53d3d !important;
    position: absolute;
    left: 10px;
    bottom: 30px;
    right: auto;
  }
   .addcomment h4 {
    text-align: left;
  }
  .addcomment .inputs h1 {
    text-align: left;
  }
  .block ion-icon {
    width: 50px;
    height: 50px;
    background: #069e92;
    position: absolute;
    top: -25px;
    right: auto;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 27px;
    border-radius: 5px;
    left: 25px;
  }
  .dataa p {
    text-align: left;
  }
 .dataa h2, .comments h2, .addcomment h2 {
    text-align: left;
  }
  .clicker ion-icon.icon.icon-md.ion-md-people {
    display: none;
  }
}
