page-forum {
.tablehead{
  background: #069e92;
  height: 40px;
  line-height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  .right{
    width: 65%;
    float:right;
    h2{
      font-size: 15px;
      color: #fff;
      margin: 0;
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      position: relative;
      top: 6px;
    }
  }
  .left{
    width: 35%;
    float:right;
    h2{
      font-size: 15px;
      color: #fff;
      margin: 0;
      font-family: 'Cairo';
      font-weight: bold;
      text-align: left;
      position: relative;
      top: 6px;
    }
  }
}


  .tablecontent{
    .rebater{
      background: #fff;
      height: 50px;
      line-height: 40px;
      padding: 12px 0;
      border-bottom: 1px solid #c7c7c7;
    .right{
      width: 65%;
      float:right;
      h2{
        font-size: 15px;
        color: #000;
        margin: 0;
        font-family: 'Cairo';
        text-align: right;
        position: relative;
        top: 6px;
      }
    }
    .left{
      width: 35%;
      float:right;
      h2{
        font-size: 15px;
        color: #000;
        margin: 0;
        font-family: 'Cairo';
        text-align: left;
        position: relative;
        top: 6px;
      }
    }
    }
  }
.enlang{
   .tablehead .right {
    width: 65%;
    float: left;
  }
  .tablecontent .rebater .right {
    width: 65%;
    float: left;
  }
   .tablecontent .rebater .right h2 {
    text-align: left;
  }
  .tablecontent .rebater .left h2 {
    text-align: right;
  }
  .tablehead .left h2 {
    font-size: 15px;
    color: #fff;
    margin: 0;
    font-family: 'Cairo';
    font-weight: bold;
    text-align: right;
    position: relative;
    top: 6px;
  }
  .tablehead .right h2 {
    font-size: 15px;
    color: #fff;
    margin: 0;
    font-family: 'Cairo';
    font-weight: bold;
    text-align: left;
    position: relative;
    top: 6px;
  }
}


}
