<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title >{{'Forums'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="table">
    <div class="tablehead">
      <div class="right">
        <h2>{{'Forum'|translate}}</h2>
      </div>
      <div class="left">
        <h2>{{'Lastupdate'|translate}}</h2>
      </div>
    </div>
    <div class="tablecontent">
      <div class="rebater" *ngFor="let forum of forumss" (click)="gotopics(forum.id, forum.title.rendered)" >
        <div class="right">
          <h2>{{ forum.title.rendered }}</h2>
        </div>
        <div class="left">
          <h2>{{ forum.modified | date }}</h2>
        </div>
      </div>
    </div>
  </div>
</ion-content>
