<!--
  Generated template for the PostsinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title>{{ posttitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="dataa">
  <div class="image">
  <img src="{{ postimg }}" *ngIf="postimg !== null" alt="">
  </div>
  <h2>{{ posttitle }}</h2>
  <p [innerHTML]="postcontent">{{ postcontent }}</p>
  </div>
  <div class="comments">
      <h2 >{{'Comments'|translate}}</h2>
    <div class="bloc" *ngFor="let com of comments">
        <h3 >{{'Said'|translate}} {{com.author_name}}</h3>
      <p [innerHTML]="com.content.rendered">{{ com.content.rendered }}</p>
    </div>
  </div>
  <div class="addcomment">
      <h2 >{{'Leavereplay'|translate}}</h2>
      <h4 >{{'published'|translate}}</h4><div class="forma">
      <div class="inputs">
          <h1 >{{'Comment'|translate}}</h1>
           <textarea name="comment" [(ngModel)]="comment" ></textarea>
      </div>
      <div class="inputs">
          <h1>{{'Name'|translate}}</h1>
        <input type="text"[(ngModel)]="namee">
      </div>

      <div class="inputs">
          <h1 >{{'email'|translate}}</h1>
           <input type="email"[(ngModel)]="email">
      </div>
      <div class="submit">
        <button type="submit" (click)="addcomment()">{{'Comment'|translate}}</button>
      </div>
    </div>
  </div>
</ion-content>