page-postsingle {
  .dataa {
    .image {
      img {
        width: 100%;
        height: 120px;
        border-radius: 10%;
      }
    }
    h2 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      color: #069e92;
      font-size: 15px;
    }
    p {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 14px;
    }
  }
  .comments{
    h2 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      color: #069e92;
      font-size: 15px;
    }
    .bloc{
      background: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      h3 {
        font-family: 'Cairo';
        font-weight: bold;
        text-align: right;
        color: #069e92;
        font-size: 15px;
        margin:0;
      }
    }
    p {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 14px;
      margin:0;

    }
  }
  .addcomment{
    h2 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: right;
      color: #069e92;
      font-size: 15px;
    }
    h4 {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 13px;
      margin:0;
    }
    .inputs{
      margin-top: 20px;
      h1{
        font-family: 'Cairo';
        text-align: right;
        color: #444;
        font-size: 13px;
        margin:0;
        margin-bottom:5px;
      }
      input{
        width:100%;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
        height: 40px;
      }
      textarea{
        width:100%;
        height: 100px;
        border:1px solid #ddd;
        padding-right: 10px;
        outline: none;
      }
    }
    button{
      background: #069e92;
      float: left;
      margin-top: 15px;
      padding: 10px 15px;
      border-radius: 20px;
      color: #fff;
      font-family: 'Cairo';
    }
  }
}
