// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



//--------------------------------------menu-------------------------------
// ion-menu{
//   ion-content{
//    background-color:#069e92 !important;
//   }
//  }
//  .no-scroll .scroll-content{
//   overflow: hidden;
// }
// .menu-inner .item {
//   background-color: #069e92;
// }


// .menu-inner > ion-header, 
// .menu-inner > ion-content, 
// .menu-inner > ion-footer {
//   background-color: #069e92; 
// }
ion-menu{
    ion-content{
     position: relative !important;
     margin-top: 10px;
    }
    ion-icon{
      color: #069e92;
    }
   }
.bar-profile {
  background-color: #069e92;
  height: 170px;
}
.tabs-md .tab-button[aria-selected=true]{
   color: #069e92;
   .tab-button-icon{
     color: #069e92;
   }
}
.bar-profile .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.profile .name {
  color: #FFFFFF;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.profile-picture {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.toolbar-md{
  text-align: center;
}
.menu .has-header
{
  top: 169px;
}

ion-tabs {
    background: #eaeaea;
    border: none;
    box-shadow: none;
    .tab-button{
      background: none;
      border: none;
      box-shadow: none;
      color: #7b7b7b;
      font-family: 'Cairo';
      font-size: 12px;
      text-align: center;
      width: 32%;
      float: right;
      padding: 0;
      ion-icon{
        display: block;
        margin-bottom: 5px;
        font-size: 16px !important;
      }
      span{
        display: block;
        font-size: 12px !important;
      }
    }
  }
  .alert-md .alert-wrapper {
    border-radius: 1px;
    max-width: 280px;
    background-color: #fff;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    color: #069e92;
    font-family: 'Cairo';
    text-align: center;
  }
  .alert-md .alert-button {
    background: #fff;
    color: #069e92;
  }
  ion-backdrop {
    left: 0;
    opacity: 0.7 !important;
  }
  .loading-md .loading-wrapper {
    background: none;
    box-shadow: none;
  }
  ion-spinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loading-md .spinner-crescent circle {
    stroke: #fff;
  }
  .enlang {
    direction: ltr;
    .scroll-content{
      padding-bottom: 60px !important;
    }
    .back-button.show-back-button {
      display: inline-block;
      position: absolute;
      left: auto;
      color: #fff;
      z-index: 999999;
      right: 0;
      transform: rotate(180deg);
    }
    .item-radio.item-md ion-label {
      margin-left: 0;
      text-align: left;
    }
    .search input {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      padding-right: 0;
      font-family: 'Cairo';
      padding-left: 15px;
    }
    .menu li ion-icon {
      margin-left: 0;
      margin-right: 10px;
    }
    .menu li.logout {
      color: #f53d3d !important;
      position: absolute;
      left: 10px;
      bottom: 30px;
      right: auto;
    }
     .addcomment h4 {
      text-align: left;
    }
    .addcomment .inputs h1 {
      text-align: left;
    }
    .block ion-icon {
      width: 50px;
      height: 50px;
      background: #069e92;
      position: absolute;
      top: -25px;
      right: auto;
      text-align: center;
      color: #fff;
      line-height: 50px;
      font-size: 27px;
      border-radius: 5px;
      left: 25px;
    }
    .dataa p {
      text-align: left;
    }
   .dataa h2, .comments h2, .addcomment h2 {
      text-align: left;
    }
    .clicker ion-icon.icon.icon-md.ion-md-people {
      display: none;
    }
  }
