<ion-menu [content]="mycontent" side="right" *ngIf="translate.currentLang == 'ar'">

  <ion-header>
    <ion-toolbar class="profile">
      <img class="profile-picture" src="assets/imgs/aboutus.png" alt="">
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{ p.title | translate }}
      </button>

      <button ion-item (click)="lang((translate.currentLang == 'ar')?('en'):('ar'))">
        <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
        {{ 'lang' | translate}}
      </button>

      <button ion-item menuClose *ngIf="generalService.isLoggedIn" (click)="logout()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        {{ 'Logout' | translate}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" side="left" *ngIf="translate.currentLang == 'en'">
  <ion-header>
    <ion-toolbar class="profile">
      <img class="profile-picture" src="assets/imgs/aboutus.png" alt="">
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        
        {{ p.title | translate }}
        <ion-icon item-start [name]="p.icon"></ion-icon>
      </button>

      <button ion-item (click)="lang((translate.currentLang == 'ar')?('en'):('ar'))">
        <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
        {{ 'lang' | translate}}
        
      </button>
      <button ion-item menuClose *ngIf="generalService.isLoggedIn" (click)="logout()">
       
        {{ 'Logout' | translate}}
         <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage" dir="{{textDir}}"></ion-nav>