page-advancedsear {
  ion-content{
    margin-top: 10% !important;
  }
  .block {
    border: 1px solid #069e92;
    margin-top: 13px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50px;
    ion-icon{
      width: 50px;
      height: 50px;
      background: #069e92;
      position: absolute;
      top: -25px;
      right: 25px;
      text-align: center;
      color: #fff;
      line-height: 50px;
      font-size: 27px;
      border-radius: 5px;
    }
    h2 {
      font-family: 'Cairo';
      font-weight: bold;
      text-align: center;
      color: #069e92;
      font-size: 13px;
    }
    p {
      font-family: 'Cairo';
      text-align: right;
      color: #444;
      font-size: 13px;
    }
  }
}
