page-intro {
  .slide-zoom {
    text-align: center;
    display: block;
    top: 0;
    padding-top: 15%;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;

  }
  .swiper-pagination {
    display: none;
  }
  ion-slides {
    direction: ltr;
  }
  ion-slide {
    background-size: 100% 100% !important;
    h2 {
      font-family: 'Lemonada';
      font-weight: 700;
      color: #fff;
      direction: rtl;
    }
    p {
      font-family: 'Cairo', sans-serif;
      font-weight: 400;
      color: #fff;
      font-size: 11px;
      width: 80%;
      margin: 0 auto;
      display: table;
      margin-top: 10%;
      line-height: 15px;
    }
  }
  .bgroub {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
      .button {
        font-family: 'Cairo', sans-serif;
        font-size: 15px;
        width: 50%;
        float: left;
        margin: 0;
        background: #fff;
        height: 60px;
        border-radius: 1px !important;
        background: #069e92;
        color: #fff;
        font-weight: bold;

      }
    .b2{
      background:#0e5651;
      color:#fff;
    }
  }
}
