<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-slides pager>
    <ion-slide style="background: url('assets/imgs/intro1.png')">
      <div class="bgroub">
          <button ion-button item-end clear small class="b2" (click)="skip()">
            تخطي
          </button>
          <button ion-button item-start clear small (click)="next()">
            التالى
          </button>
      </div>

    </ion-slide>
    <ion-slide style="background: url('assets/imgs/intro2.png')">
      <div class="bgroub">

          <button ion-button item-end clear small class="b2" (click)="skip()">
            تخطي
          </button>
          <button ion-button item-start clear small (click)="next()">
            التالى
          </button>
      </div>

    </ion-slide>
    <ion-slide style="background: url('assets/imgs/intro3.png')">
<div class="bgroub">
          <button ion-button item-end clear small class="b2" (click)="skip()">
            تخطي
          </button>
          <button ion-button item-start clear small (click)="skip()">
            ابدأ الأن
          </button>
</div>
    </ion-slide>
  </ion-slides>
</ion-content>
