<!--
  Generated template for the AboutusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title >{{'Aboutus'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <img src="assets/imgs/aboutus.png" alt="">
  <p >
      {{'aboutinfo'|translate}}{{'aboutinfo'|translate}}
    </p>
</ion-content>
