page-knowldgebase {
  .block {
    height: 90px;
    margin-bottom: 15px;
    position: relative;
  }
  .holder{
  .data:nth-child(odd){
    .block{
    background: url(../assets/imgs/odd.png);
      background-size: 100% 100%;
      h2{
        color: #fff;
        font-family: 'Cairo';
        line-height: 90px;
        text-align: left;
        font-size: 15px;
        padding-left: 35px;
      }
span{
  position: absolute;
  right: 19%;
  color: #fff;
  font-size: 20px;
  font-family: 'Cairo';
  top: 30%;
}
    }
  }
    .data:nth-child(even){
      .block{
        background: url(../assets/imgs/even.png);
        background-size: 100% 100%;
        h2{
          color: #fff;
          font-family: 'Cairo';
          line-height: 90px;
          text-align: right;
          font-size: 15px;
          padding-right: 35px;
        }
span{
  position: absolute;
  left: 19%;
  color: #fff;
  font-size: 20px;
  font-family: 'Cairo';
  top: 30%;
}
      }
    }
  }
}
