<!--
  Generated template for the KnowldgebasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title >{{'Knowldgebase'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
  <div class="holder">
<div class="data" *ngFor="let cat of cattitle; let i = index">
  <div class="block" (click)="catid(cat.id, cat.name)">
    <span>0{{ i + 1 }}</span>
    <h2>{{ cat.name }}</h2>
  </div>
</div>
  </div>
</ion-content>
