page-menu {
.menu{
  li{
    list-style: none;
    margin-bottom: 11px;
    color: #777777;
    font-family: 'Cairo';
    font-size: 19px;
    ion-icon{
      margin-left: 10px;
    }
  }
  li.logout {
    color: #f53d3d !important;
    position: absolute;
    right: 10px;
    bottom: 30px;
  }
}
}
