<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">

  <ion-navbar>
    <ion-title [hidden]="translate.currentLang === 'en'">المزيد</ion-title>
    <ion-title [hidden]="translate.currentLang === 'ar'">More</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{ 'enlang': translate.currentLang === 'en','arlang':   translate.currentLang=== 'ar' }">
    <div class="menu" [hidden]="translate.currentLang === 'en'">
      <li (click)="home()"><ion-icon ios="ios-home" md="md-home"></ion-icon>الرئيسية</li>
      <li (click)="advanced()"><ion-icon ios="ios-search" md="md-search"></ion-icon>البحث المتقدم</li>
      <li (click)="aboutus()">  <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>من نحن</li>
      <li (click)="contacus()">  <ion-icon ios="ios-call" md="md-call"></ion-icon>اتصل بنا</li>
      <li (click)="en()" [hidden]="translate.currentLang == 'en'"><ion-icon ios="ios-globe" md="md-globe"></ion-icon>en</li>
      <li (click)="ar()" [hidden]="translate.currentLang == 'ar'"><ion-icon ios="ios-globe" md="md-globe"></ion-icon>عربى</li>
      <li (click)="logout()" class="logout" [hidden]="usercookie == null || usercookie == undefined">  <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>تسجيل خروج</li>
    </div>
  <div class="menu" [hidden]="translate.currentLang === 'ar'">
    <li (click)="home()"><ion-icon ios="ios-home" md="md-home"></ion-icon>Home</li>
    <li (click)="advanced()"><ion-icon ios="ios-search" md="md-search"></ion-icon>Advanced search</li>
    <li (click)="aboutus()">  <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>About us</li>
    <li (click)="contacus()">  <ion-icon ios="ios-call" md="md-call"></ion-icon>Contact us</li>
    <li (click)="en()" [hidden]="translate.currentLang == 'en'"><ion-icon ios="ios-globe" md="md-globe"></ion-icon>en</li>
    <li (click)="ar()" [hidden]="translate.currentLang == 'ar'"><ion-icon ios="ios-globe" md="md-globe"></ion-icon>عربى</li>
    <li (click)="logout()" class="logout" [hidden]="usercookie == null || usercookie == undefined">  <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>Logout</li>
  </div>
</ion-content>
